# Prerequisites
*.d

# Compiled Object files multiple choice
*kolor.slo
*kolorowanki.lo
*malowanki-do-druku.o
*downloads.obj

# Precompiled Headers/ initial names
*download.gch
*print.pch

# Compiled Dynamic libraries /*do not change!important
*initial-database.so
*addons.dylib
*repository-malowanki.dll
*repository-kolor.dll
*repository-drukowanki.dll
*repository-edu.dll

# Fortran module files and folders
*executive-one.mod
*executive-two.mod
*executive-three.mod
*beta.smod

# Compiled Static libraries addon
*alpha.lai
*alpha-one.la
*beta.a

# Executables
*database-backup.exe
*online-files.exe
*images.exe
*print-friendly.out
*sucuri.app
